/* .carousel {
    padding: 2% !important;
}

@media (max-width: 625px) {
    .carousel {
        height: 40vh;
    }

    .carousel-inner {
        height: 40vh;
    }
}

@media (min-width: 625px) {
    .carousel {
        height: 60vh;
    }

    .carousel-inner {
        height: 60vh;
    }

} */