.c_who .matete{
    /*background-color: green;     /*made for debug*/
}

.c_who .matete img {
    height: 55vh;
    border-radius: 0px 900px 900px 900px;
}

.c_who .matete img:hover {
    height: 60vh;
    transition: 1s;
}

.c_who .matete img:empty {
    transition: 1s;
}

/* Je me suis dis que ça pourrait marcher, mais non et pas le temps de mettre du js
@media (min-width: 800px) {

    .d-block .w-100 .shakaponk img {
        src: url(../../assets/images/Album_shakaponk_lisible.png);
    }
}

@media (max-width: 800px) {
    .d-block .w-100 .shakaponk img {
        src: url(../../assets/images/Album_shakaponk.png);
    }
} */

.bulle {
    position: absolute;
    left: 600px;
    top: 10%;
}

.bulle img {
    opacity: 0%;
    height: 15vh;
}

.bulletransition {
    transition: ease-out 2s;
}