@media (max-width: 1000px) {

    .c_who .texte {
        padding-top: 5% !important;
        padding-left: 10% !important;
    }
}

@media (min-width: 1000px) {

    .c_who .texte {
        padding-top: 5% !important;
        padding-left: 5% !important;
    }
}

.c_who {
    color: white;
}

.c_who .texte {
    /*background-color: red;*/
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: justify;
    padding-right: 10% !important;
}

.c_who .texte > div{
    width: 70%;
    /*background-color: blue;*/
}

h2{
    color: white;
    margin-left: 2% !important;
}

#merci {
    position: fixed;
    color: red;
    top: 1100px;
    left: -100px;
    transition: 1s;
    font-style: italic;
}